
body {
    font-size: large;
    color: #333e38;
    background-color: #ffffff;
    padding-top: 70px;
    line-height: 1.8;
}

a {
    color: #0065bd;
    text-decoration: underline;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    color: #333e38;
}



.navbar-default .navbar-brand, 
.navbar-nav>li>a {
    color: #333e38;
    text-decoration: none;
}

a:focus {
    background-color: #fdd522 !important;
    color: #333e38 !important;
    outline-offset: 0;
    transition-duration: 0s;
}

nav:before {
    background: #0065bd;
    display: block !important;
    content: '';
    height: 7px;
}

